@font-face {
  font-family: Lancelot;
  src: url(../fonts/Lancelot/Lancelot-Regular.ttf);
}
h1 {
  font-family: Lancelot;
}
.shape1 {
  width: 45rem;
  height: 15rem;
  border: black 2px solid;
  background-color: beige;
  background-image: url(../img/eule1.jpg);
  image-resolution: 300px;
  display: inline-block;
  transform: scale(1.1);
  z-index: 1;
}
